@font-face {
  font-family: 'Bon Voyage DEMO';
  src: url('/public/fonts/BonfoyageDemo-K7Eo7.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 20px 40px 20px;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);

  .logo-container {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header-logo {
      font-family: 'Bon Foyage DEMO', sans-serif;
      color: white;
      font-size: 3em;
    }

    .header-routes {
      font-size: 1.2em;
      font-weight: lighter;
      line-height: 133%;
    }
  }

  .header-navigation {
    position: relative;
    display: flex;
    align-items: start;

    .navigation-list {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      gap: 40px;

      li {
        a {
          transition: all .2s ease;
          font-size: 1.2em;
          font-weight: lighter;
          -webkit-transition: all .2s ease;
          -moz-transition: all .2s ease;
          -ms-transition: all .2s ease;
          -o-transition: all .2s ease;

          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    padding: 20px 20px 0px;

    .logo-container {
      justify-content: center;

      .header-logo {
        font-size: 2.5em;
      }

      .header-routes {
        display: none;
      }
    }

    .header-navigation {
      position: relative;
      display: flex;
      align-items: start;

      .navigation-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        gap: 40px;

        li {
          a {
            font-size: 1.2em;
            font-weight: lighter;
          }
        }
      }
    }
  }
}
