#person-0 {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  position: relative;

  .content-container {
    width: 100%;
    display: block;
    position: relative;

    .first {
      position: absolute;
      bottom: -200px;
      left: 30%;
      transform: translateX(-110%);
      font-family: 'Bon Foyage DEMO', sans-serif;
      font-size: 10em;
      -webkit-transform: translateX(-110%);
      -moz-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
      -o-transform: translateX(-110%);
      z-index: 1;
    }

    .second {
      position: absolute;
      bottom: -200px;
      right: -30%;
      transform: translateX(-110%);
      font-family: 'Bon Foyage DEMO', sans-serif;
      font-size: 10em;
      -webkit-transform: translateX(-110%);
      -moz-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
      -o-transform: translateX(-110%);
      z-index: 1;
    }

    .image {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
}
